html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#squaresContainer {
    border: 50px solid red;
    border-radius: 20px;
    height: 70%;
    width: 80%;
    display: grid;
}
